.mat-cell,
.mat-header-cell {
    padding: 24px;
}

button {
    margin-top: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.user-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;

    span {
        padding: 10px;
    }

    .logOut:hover {
        cursor: pointer;
    }
}
.title{
    display: flex;
    flex-direction: row;

    .offline{
        color: red;
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    color: var(--main-font);

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .dashboards {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dashboard {
            padding: 10px;
            word-break: break-all;
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid grey;
                        border-top: 1px solid grey;

            background-color: #efefef;

            span {
                padding-bottom: 10px;
            }
        }

        .selected-dashboard{
            background-color: #cfcfcf;
        }

        .dashboard:hover{
            background-color: #cfcfcf;
            cursor: pointer;
        }
    }

    .list-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;

        .todo-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33.3%;

            height: 100%;
            background-color: #3d84b8;

            button {
                max-width: 100px;
            }
        }

        .in-progress-list-container {
            display: flex;
            align-items: center;

            flex-direction: column;

            width: 33.3%;

            height: 100%;
            background-color: #fbc6a4;
        }

        .done-list-container {
            display: flex;
            align-items: center;

            flex-direction: column;

            width: 33.3%;

            height: 100%;
            background-color: #d5ecc2;
        }

        .card {
            margin: 15px;
            box-sizing: border-box;
            width: 90%;
        }

        .card:hover {
            cursor: pointer;
        }
    }
}
