<div class="container">
  <div class="content">

    <div class="user-div">
      <span>{{ username }}</span> 
      <span class="logOut" (click)="logOut()">| Cerrar sesión</span>
      
    </div>
    <div class="title">
      <h1>{{dashboard.name}}</h1>
      <h1 class="offline" *ngIf="offline">(Offline)</h1>
    </div>


    <div class="container">
      <div class="dashboards" >
        <div (click)="!offline && selectRepository(repository)" class="dashboard" [ngClass]="{'selected-dashboard': repository.id === repositoryId}" *ngFor="let repository of repositories">
          <span class="dashboard-user">
            {{ repository.name }} 
          </span>
          <span class="dashboard-title">
            Creador: {{ repository.author }}
          </span>
        </div>

        <button (click)="openDashboardModal(newDashboard)">Nuevo</button>

      </div>

      <div class="list-container" cdkDropListGroup>
        <div class="todo-list-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="modelTodoDashboard"
          (cdkDropListDropped)="changeCardStatus($event, 'To-do')">
          <h1>To Do</h1>
  
  
          <mat-card [ngStyle]="element.deleted && {'display': 'none'}" class="card" *ngFor="let element of modelTodoDashboard" (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{element.title}}</mat-card-title>
              <mat-card-subtitle>Ultima modificacion: {{element.metadata.author}} - {{element.metadata.time | date: 'yyyy-MM-dd'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{element.task}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteCard(element)">Eliminar</button>
              <button mat-button (click)="openCardModal('edit', element)">Editar</button>
            </mat-card-actions>
          </mat-card>
  
          <button (click)="openCardModal('new', card)">Nueva</button>
  
  
        </div>
        <div class="in-progress-list-container" cdkDropList #doneList="cdkDropList"
          [cdkDropListData]="modelInProgressDashboard" (cdkDropListDropped)="changeCardStatus($event, 'In-Progress')">
          <h1>In Progress</h1>
  
  
  
  
          <mat-card [ngStyle]="element.deleted && {'display': 'none'}" class="card" *ngFor="let element of modelInProgressDashboard" (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{element.title}}</mat-card-title>
              <mat-card-subtitle>Ultima modificacion: {{element.metadata.author}} - {{element.metadata.time | date: 'yyyy-MM-dd'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{element.task}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteCard(element)">Eliminar</button>
              <button mat-button (click)="openCardModal('edit', element)">Editar</button>
  
            </mat-card-actions>
          </mat-card>
        </div>
  
  
        <div class="done-list-container" cdkDropList #doneList="cdkDropList" [cdkDropListData]="modelDoneDashboard"
          (cdkDropListDropped)="changeCardStatus($event, 'Done')">
          <h1>Done</h1>
  
          <mat-card [ngStyle]="element.deleted && {'display': 'none'}" class="card" *ngFor="let element of modelDoneDashboard" (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{element.title}}</mat-card-title>
              <mat-card-subtitle>Ultima modificacion: {{element.metadata.author}} - {{element.metadata.time | date: 'yyyy-MM-dd'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{element.task}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteCard(element)">Eliminar</button>
              <button mat-button (click)="openCardModal('edit', element)">Editar</button>
  
            </mat-card-actions>
          </mat-card>
        </div>
      </div>


    </div>





  </div>
</div>