.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  button[type="submit"]:disabled{
    background-color: rgba(0,0,0,.12) !important;
    background-image: none !important;
    box-shadow: none !important;
    color: rgba(0,0,0,.26) !important;
  }
  
  button[type="submit"]:disabled:hover{
    cursor: auto !important;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  
    .logo{
      margin-bottom: 25px;
    }
  
    .form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      .inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        box-sizing:border-box;
  
        input{
          border: solid 2px rgba(0,0,0,.26);
          margin-top: 20px;
          border-radius: 10px;
          padding: 10px;
  
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -ms-transition: all .2s ease-out;
          -o-transition: all .2s ease-out;
          transition: all .2s ease-out
        }
  
        input:focus{
          outline: none !important;
          border: solid 2px blue;
        }
  
        input:hover{
          outline: none !important;
          border: solid 2px blue;
          cursor: auto;
        }
  
        .input-has-error{
          outline: none !important;
          border: solid 2px red;
          color: red;
        }
  
        .input-has-error:focus{
          outline: none !important;
          border: solid 2px red;
          color: red;
        }
  
        .input-has-error:hover{
          outline: none !important;
          border: solid 2px red;
          color: red;
        }
  
        .input-has-error::placeholder{
          color: red;
        }
      }
  
      .submit-button{
        background-color: rgba(0,0,0,.5);
        font-size: 16px;
        border-radius: 45px;
        border: none;
        padding: 10px;
        width: 150px;
        margin-top: 50px !important;
        box-shadow: 0px 10px 10px  rgba(96, 125, 246, 0.3);
        margin-top: 10%;
        color: #FFFFFF;
      }
  
      .submit-button:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.6);
      }
    }
  
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 20px;
  
    a{
      color: #878384 !important;
    }
  }
  
  @media (max-width: 769px){
    .logo{
      max-width: 80%;
    }
  }
  
  @media (min-width: 769px){
    .logo{
      max-width: 300px;
      margin-bottom: 50px !important;
    }
  }
  