<div class="container">
    <div class="content">


        <!-- <img class="logo" src="./assets/images/favicon.png" alt=""> -->
        <h1>Ingresar usuario</h1>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="inputs">
                <input formControlName="username" placeholder="Usuario" maxlength="70"
                    [ngClass]="{'input-has-error': loginForm.get('username').touched && loginForm.get('username').hasError('required')}">
            </div>

            <button class="submit-button" type="submit" [disabled]="isSubmitted || !loginForm.valid">Ingresar</button>
        </form>

    </div>
</div>