<div class="modal-container">
    <h1 mat-dialog-title *ngIf="data.mode=='new'">Nueva tarea</h1>

    <div class="close-icon" (click)="onCancelClick()">
        <mat-icon>cancel</mat-icon>
    </div>
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Título</mat-label>
            <input autocomplete="off" matInput [(ngModel)]="data.card.title" maxlength="30"
                [readonly]="data.mode == 'view'">
        </mat-form-field>

        <mat-form-field class="description">
            <mat-label>Descripción</mat-label>
            <textarea matInput [(ngModel)]="data.card.task" maxlength="300"
                [readonly]="data.mode=='view'"></textarea>

        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button class="submit-button" [mat-dialog-close]="data.card" cdkFocusInitial
            *ngIf="data.mode!='view'"
            [disabled]="!((data.card.task && data.card.task.trim().length > 0) && (data.card.title && data.card.title.trim().length > 0))">Guardar</button>



    </div>
</div>