.mat-dialog-content{
    display: flex;
    flex-direction: column;
  }
  
  .mat-card-subtitle{
    word-break: break-all;
  }
  

  .modal-container{
    position: relative;
  }
  
  .close-icon{
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }
  
  .mat-dialog-actions{
    display: flex;
    justify-content: center;
  }
  
  button:disabled{
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
  }



  .description {
    ::ng-deep {
      textarea {
        min-height: 150px;
        max-height: 300px;
      }
    }
  }
  
  