<div class="modal-container">
    <h1 mat-dialog-title>Nuevo dashboard</h1>

    <div class="close-icon" (click)="onCancelClick()">
        <mat-icon>cancel</mat-icon>
    </div>
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input autocomplete="off" matInput [(ngModel)]="data.dashboard.name" maxlength="30">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="submit-button" [mat-dialog-close]="data.dashboard" cdkFocusInitial

            [disabled]="!((data.dashboard.name && data.dashboard.name.trim().length > 0) )">Guardar</button>
    </div>
</div>